body{
	background-color: rgb(249, 249, 249);
    font-family: Arial;
}

#header{
    background-color: black;
    color: azure;
}

#header .nav-brand{
    padding: 10px;
}

#header .nav-side{
    padding: 15px;
}

/* Form style */
.form{
    padding: 0px;
}

.form .field-group{
    padding: 5px;
}

/* Content style */
.ses-panel{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
}

.container .content{
    margin-left: 10px;
    margin-right: 10px;
}

/* Footer style */
#footer .content{
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
}

.table-container{
    max-width: 100%;
    max-height: 500px;
    overflow-x: auto;
    overflow-y: auto;
}

.table-container table{
    width: 100%;
    border-collapse: collapse;
}

.table-container thead{
    background-color: rgb(54, 54, 54);
    color: aliceblue;
}

.table-container th, .table-container td{
    padding: 20px 30px 20px 30px;
    text-align: left;
  }

/* Modal style */
.modal-background .container .content{
    max-width: 980px;
    background-color: aliceblue;
    margin: 0 auto;
    margin-top: 40px;
    padding: 20px;
}

.modal-background{
    z-index: 1;
}

/* other styles */
.capilalize{
    text-transform: capitalize;   
}
