body{
	background-color: rgb(249, 249, 249);
    font-family: Arial;
}

#header{
    background-color: black;
    color: azure;
}

#header .nav-brand{
    padding: 10px;
}

#header .nav-side{
    padding: 15px;
}

/* Form style */
.form{
    padding: 0px;
}

.form .field-group{
    padding: 5px;
}

/* Content style */
.ses-panel{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
}

.container .content{
    margin-left: 10px;
    margin-right: 10px;
}

.table-bill{
    height: 500px;
    display: block;
    overflow-y: auto;
    overflow-x: auto;
}

.table-bill thead{
    text-transform: uppercase;
    background-color: rgb(192, 192, 192);
    color: #000000;
    display: block;
    position: fixed;
}

.table-bill tbody{
    padding-top: 20px;
    margin-top: 50px;
}

.table-bill tbody tr{
    border-bottom: 1px solid #c0c0c0;
}

.table-bill tfoot{
    display: block;
}

.section-bill .row-bill{
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Modal style */
.modal-background .container .content{
    max-width: 980px;
    background-color: aliceblue;
    margin: 0 auto;
    margin-top: 40px;
    padding: 20px;
}

.modal-background{
    z-index: 1;
}

/* other styles */
.capilalize{
    text-transform: capitalize;   
}
